.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(31, 28, 28, 0.28);
  border-radius: 12px;
  padding: 0 15px 0 0;
  margin-bottom: 15px;
  border: 1px solid rgba(169, 135, 84, 0.3);
  /* overflow: hidden; */
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.watchImage {
  width: 120px;
  height: 120px;
  border-radius: 0;
  overflow: hidden;
  flex-shrink: 0;
}

.watchImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.watchName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Poppins';
 
}

.infoRows {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight:300;
  font-family:'Poppins';
  line-height:1
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #a9a9a9;
  font-size: 0.9rem;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.status {
  background: rgba(169, 135, 84, 0.2);
  color: #a98754;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
}

.paid {
  background: rgba(169, 135, 84, 0.2);
  color: rgb(5, 202, 5);
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
}

.payButton {
  background: transparent;
  border: 1px solid #a98754;
  color: #a98754;
  padding: 7px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 120px;
  font-family:'Poppins';
  font-weight:400
}

.payButton:hover {
  background: rgba(169, 135, 84, 0.2);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .card {
    padding: 0 15px 15px 0;
  }

  .rightSection {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .watchName {
    font-size: 1rem;
  }

  .infoRow {
    font-size: 0.85rem;
  }

  .watchImage {
    width: 100%;
    height: 200px;
    border-radius: 0;
  }
}

@media screen and (max-width: 480px) {
  .leftSection {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .watchImage {
    width: 100%;
    height: 200px;
  }
}
