.brandWatch {
  flex: 0 0 25%; /* Makes each item take exactly 25% of the container */
  min-width: 25%; /* Ensures the width doesn't shrink */
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  height: 230px; 
}

.imageWrapper img {
  transition: transform 0.3s ease;
}

.imageWrapper:hover img {
  transform: scale(1.1);
}

.watchName {
  margin-top: 10px;
  text-align: center;
}

.brandName {
  color: #A98754;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins";
}

.modelName {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
  font-family: "Poppins";
}

@media (max-width: 768px) {
  .imageWrapper {
    width: auto;
    display: block;
    justify-content: center;
    overflow: hidden;
    
  }
  .brandWatch {
    flex: 0 0 100%; /* Makes each item take exactly 25% of the container */
    min-width: auto; /* Ensures the width doesn't shrink */
  
  }
} 
