.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #1F252E;
    background-image: url('/assets/images/popup-bg.png');
    padding: 20px 50px 20px 50px;
    margin-bottom: 15%;
    border-radius: 40px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    background-image: url('/assets/icons/cross.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.userImage {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.title {
    color: white;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 1.3rem;
}

.message {
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

.laterButton, .nowButton {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.laterButton {
    background-color: transparent;
    border: 1px solid #a98745;
    color: #a98745;
}

.nowButton {
    background-color: #a98745;
    color: white;
}
