.purchaseCard {
    background: rgba(31, 28, 28, 0.28);
    border-radius: 12px;
    padding: 24px;
}

.mainContent {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}

.imageContainer {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
}

.watchImage {
    border-radius: 8px;
    object-fit: cover;
    background: #fff;
}

.watchDetails {
    flex-grow: 1;
}

.watchName {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 16px 0;
    line-height: 1.2;
    font-family:'Poppins';
    font-weight: 500;
}

.statusContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.statusText {
    color: #FFB800;
    font-size: 14px;
    font-family:'Poppins';
    font-weight: 400;
}

.date {
    color: #8A8F98;
    font-size: 14px;
    margin-left: auto;
    font-family:'Poppins';
    font-weight: 300;
}

.price {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family:'Poppins';
}

.divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 20px 0;
}

.sellerSection {
    padding-top: 4px;
}

.sellerHeader {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    font-family:'Poppins';
    font-weight: 300;
}

.sellerDetails {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sellerInfo {
    display: flex;
    gap: 8px;
}

.label {
    color: #8A8F98;
    font-size: 16px;
    font-family:'Poppins';
    font-weight: 300;
}

.value {
    color: #FF8A00;
    font-size: 16px;
    font-family:'Poppins';
    font-weight: 300;
}

.actionButtons {
    display: flex;
    gap: 16px;
    /* padding: 16px; */
    margin-top: 16px;
}

.acceptButton {
    flex: 1;
    padding: 12px;
    background: #B38E5D;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family:'Poppins';
    font-weight: 500;
    
}

.rejectButton {
    flex: 1;
    padding: 12px;
    background: transparent;
    border: 1px solid #B38E5D;
    border-radius: 8px;
    color: #B38E5D;
    font-size: 16px;
    cursor: pointer;
}