.watchCard {
  background-color: rgba(31, 28, 28, 0.28);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.watchCardContent {
  padding: 0px 0px 20px 10px;
}

.watchCard:hover {
  transform: translateY(-5px);
}

.watchImage {
  position: relative;
}

.watchActions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionBtn {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.watchCard h3 {
  font-size: 16px;
  color: #fff;
  font-family: 'Poppins';
    font-weight:500
}

.watchDate {
  font-size: 12px;
  color: #A98754;
  margin: 0 10px 10px;
}

.watchPrices {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.buyNow, .bidPrice {
  display: flex;
  flex-direction: column;
}

.buyNow span:first-child, .bidPrice span:first-child {
  font-size: 12px;
  color: #A98754;
}

.buyNow span:last-child, .bidPrice span:last-child {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.aiText {
  font-size: 12px;
  color: #888;
  display: block;
  margin-top: 5px;
}

.imageContainer {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.imageContainer img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 0;
  font-family: 'Poppins';
    font-weight:300
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.infoItem span {
  margin-left: 5px;
}

.infoIcon {
  color: #fff;
  font-size: 16px;
}

.sellerCode {
  background: transparent;
  padding: 8px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #A98754;
  gap: 8px;
  margin: 10px 10px 0 0;
  color: white;
}

.codeValue {
  color: #A98754;
  /* font-weight: bold; */
  font-family: 'Poppins';
    font-weight:600;
    font-size:12px
}

.copyButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.copyButton:hover {
  opacity: 1;
}

.tagOverlay {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  pointer-events: none;
}

.tagImage {
  width: 60px !important;
  height: 60px !important;
  object-fit: contain;
  display: block;
}
