.sidebar {
  /* width: 280px; */
  background-color: transparent;
  height: 100vh;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
  /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
}

.sidebarContent {
  padding: 15px 0px 15px 15px;
  height: calc(100vh - 20px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #a98754 rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar for webkit browsers (Chrome, Safari, Edge) */
.sidebarContent::-webkit-scrollbar {
  width: 6px;
}

.sidebarContent::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.sidebarContent::-webkit-scrollbar-thumb {
  background-color: #a98754;
  border-radius: 3px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.sidebarContent::-webkit-scrollbar-thumb:hover {
  background-color: #8a6d43;
}

.closeButton {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .sidebar {
    background-color: #5e6777;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .closeButton {
    display: block;
  }
}

.logoContainer {
  padding: 20px;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navItem span {
  font-size: 16px;
  color: #ffffff;
  transition: color 0.3s;
  white-space: nowrap;
  font-family: "Poppins";
  font-weight:500
}

.navItem.active span {
  color: #a98754;
  white-space: nowrap;
  font-weight:500
}

.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.navItem:last-child {
  margin-bottom: 20px;
  width:70%;
}
